<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ScaleIntegration_Server.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="TransloadTripContext" connectionString="Data Source=dobi-db.savageservices.com;Initial Catalog=TRANSLOAD_TRIP;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <!--<add name="TestTransferContext" connectionString="metadata=res://*/TEST_TransferModel.csdl|res://*/TEST_TransferModel.ssdl|res://*/TEST_TransferModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql12-test.savageservices.com;initial catalog=TRANSLOAD_TRANSFER;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"-->
      <!--providerName="System.Data.EntityClient" />-->
    <add name="TestTransferContext" connectionString="metadata=res://*/TEST_TransferModel.csdl|res://*/TEST_TransferModel.ssdl|res://*/TEST_TransferModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql12-test.savageservices.com;initial catalog=TRANSLOAD_TRANSFER;User ID=TransloadScaleIntegration;Password=CplRjYwaLbbAVNej5Jw5VKJUf;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="ScaleIntegration_Server.Properties.Settings.TRANSLOAD_TRIPConnectionString"
      connectionString="Data Source=dobi-db.savageservices.com;Initial Catalog=TRANSLOAD_TRIP;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <ScaleIntegration_Server.Properties.Settings>
      <setting name="LogPath" serializeAs="String">
        <value>C:\Logs\ScaleIntegration</value>
      </setting>
      <setting name="Trace" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LogDays" serializeAs="String">
        <value>10</value>
      </setting>
    </ScaleIntegration_Server.Properties.Settings>
  </applicationSettings>
</configuration>